:root {
  --color-primary-yellow: #F7C948;
  --color-primary-dark: #F0B52B;
  --color-bg-warm: #FFF7C9;
  --color-surface-light: #FFFAF0;
  --color-text-main: #160B00;
  --color-text-muted: #555555;
  --color-border-soft: rgba(22, 11, 0, 0.08);

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.08);

  --container-width: 1120px;
  --container-padding: 16px;

  --transition-fast: 0.2s ease;
  --transition-base: 0.3s ease;

  --header-height: 72px;
  --inter: 'Inter', sans-serif
}

@media (min-width: 769px) {
  :root {
    --header-height: 80px;
  }
}




