.reviews {
  padding-block: 32px 40px;
}

.reviews__list {
  display: grid;
  gap: 20px;
  margin-bottom: 24px;
}

.review-card {
  background-color: var(--color-surface-light);
  padding: 15px;
  border-radius: 12px;
}

.reviews__form-title {
  font-size: 18px;
  margin-bottom: 12px;
}

.reviews__form-block {
  background-color: var(--color-surface-light);
  padding: 15px;
  border-radius: 12px;
}

.form__field {
  padding-bottom: 12px;
}

.review-card__name {
  font-size: 22px;
}